<template>
  <Teleport to="body">
    <div v-if="show" class="fixed top-0 z-50 min-h-screen min-w-full bg-grey-2/50">
      <div
        :class="dynamicClass"
        class="center-element default-scrollbar max-h-[400px] overflow-auto rounded-2xl border-4 bg-white p-3"
      >
        <slot />
      </div>
    </div>
  </Teleport>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  type: {
    type: String,
    default: 'danger'
  },
  show: {
    type: Boolean,
    default: false
  }
})

const isDanger = computed(() => props.type === 'danger')
const isInfo = computed(() => props.type === 'info')
const isSuccess = computed(() => props.type === 'success')

const dynamicClass = computed(() => ({
  'border-primary': isInfo.value,
  'border-red': isDanger.value,
  'border-green-500': isSuccess.value
}))
</script>
