<template>
  <div class="flex min-h-[32px] w-72 flex-col items-center gap-2">
    <p class="border-b border-primary p-2 text-center text-xs font-bold uppercase text-primary">
      Data yang dimasukan sudah benar
    </p>

    <div class="flex flex-col items-center gap-4 py-6">
      <FormCheckbox v-model="userStatement" />

      <p class="text-center text-xs font-semibold uppercase">
        Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan
        apabila ditemukan ketidaksesuaian dalam data tersebut.
      </p>
    </div>

    <div class="flex w-full flex-col gap-2">
      <TheButton size="small" :disabled="!userStatement" full-width :on-click="send"
        >Kirim</TheButton
      >
      <TheButton type="outline" size="small" full-width :on-click="close">Close</TheButton>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

import FormCheckbox from '../TheForm/FormCheckbox.vue'
import TheButton from '../TheButton/TheButton.vue'

const emit = defineEmits(['close', 'send'])

const userStatement = ref(false)

function send() {
  emit('send')
}

function close() {
  emit('close')
}
</script>
