<template>
  <div class="my-2 flex w-[250px] flex-col gap-8 sm:w-[450px] sm:px-2 md:w-[600px] lg:w-[900px]">
    <div class="flex flex-col items-center">
      <CheckBadgeIcon class="h-24 w-24 text-green-500" />

      <h2 class="w-full border-b-2 border-green-500 pb-2 text-center text-lg font-bold md:text-2xl">
        Data Terkirim Dengan Detail Sebagai Berikut
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <section
        v-for="contentSection in contentSections"
        :key="contentSection.title"
        class="flex flex-col gap-1"
      >
        <h3 class="text-lg font-semibold md:text-xl">{{ contentSection.title }}</h3>

        <div class="flex flex-col gap-2">
          <div v-for="field in contentSection.fields" :key="field.name">
            <p class="font-semibold">{{ field?.name }}</p>
            <p v-if="field.type === 'text'">{{ field.value }}</p>
            <img
              v-if="field.type === 'image'"
              :src="field.value"
              :alt="field.name"
              class="h-40 w-auto"
            />
          </div>
        </div>
      </section>
    </div>

    <TheButton class="mx-auto !bg-green-500" :on-click="close"> Tutup </TheButton>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { CheckBadgeIcon } from '@heroicons/vue/24/outline'

import TheButton from '../TheButton/TheButton.vue'

const router = useRouter()

const props = defineProps({
  formData: {
    type: Object,
    required: true
  }
})

const contentSections = ref([
  {
    title: 'Informasi Pribadi',
    fields: [
      {
        name: 'Nama',
        value: props.formData.nama,
        type: 'text'
      },
      {
        name: 'NIK',
        value: props.formData.nik,
        type: 'text'
      },
      {
        name: 'Jenis Kelamin',
        value: props.formData['jenis-kelamin'],
        type: 'text'
      },
      {
        name: 'Umur',
        value: props.formData.umur,
        type: 'text'
      }
    ]
  },
  {
    title: 'Alamat',
    fields: [
      {
        name: 'Provinsi',
        value: props.formData.provinsi,
        type: 'text'
      },
      {
        name: 'Kabupaten / Kota',
        value: props.formData['kabupaten-/-kota'],
        type: 'text'
      },
      {
        name: 'Kecamatan',
        value: props.formData.kecamatan,
        type: 'text'
      },
      {
        name: 'Kelurahan / Desa',
        value: props.formData['kelurahan-/-desa'],
        type: 'text'
      },
      {
        name: 'RT',
        value: props.formData.rt,
        type: 'text'
      },
      {
        name: 'RW',
        value: props.formData.rw,
        type: 'text'
      },
      {
        name: 'Alamat',
        value: props.formData.alamat,
        type: 'text'
      }
    ]
  },
  {
    title: 'Keluarga',
    fields: [
      {
        name: 'Nomor Kartu Keluarga',
        value: props.formData['no-kartu-keluarga'],
        type: 'text'
      },
      {
        name: 'Foto KTP',
        value: URL.createObjectURL(props.formData.ktp),
        type: 'image'
      },
      {
        name: 'Foto Kartu Keluarga',
        value: URL.createObjectURL(props.formData['kartu-keluarga']),
        type: 'image'
      }
    ]
  },
  {
    title: 'Penghasilan',
    fields: [
      {
        name: 'Penghasilan Sebelum Pandemi',
        value: props.formData['penghasilan-sebelum-pandemi'],
        type: 'text'
      },
      {
        name: 'Penghasilan Setelah Pandemi',
        value: props.formData['penghasilan-setelah-pandemi'],
        type: 'text'
      }
    ]
  },
  {
    title: 'Alasan Membutuhkan Bantuan',
    fields: [
      {
        value: props.formData['alasan-membutuhkan-bantuan'],
        type: 'text'
      }
    ]
  }
])

function close() {
  router.push('/')
}
</script>
