<template>
  <div class="flex min-h-[32px] w-72 flex-col items-center gap-5">
    <ExclamationCircleIcon v-if="isDanger" class="h-24 w-24 text-red" />

    <p class="text-center font-bold">
      <slot />
    </p>

    <TheButton size="small" full-width :on-click="handleClose" :class="dynamicClass">
      Tutup
    </TheButton>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import TheButton from '../TheButton/TheButton.vue'
import { ExclamationCircleIcon } from '@heroicons/vue/24/outline'

const props = defineProps({
  type: {
    type: String,
    default: 'danger'
  }
})

const emit = defineEmits(['close'])

const isDanger = computed(() => props.type === 'danger')

const dynamicClass = computed(() => ({
  '!bg-red': isDanger.value
}))

function handleClose() {
  emit('close')
}
</script>
