<template>
  <Teleport to="body">
    <div v-if="show" class="fixed top-0 z-50 min-h-screen w-full bg-grey-2/50">
      <div class="center-element">
        <Vue3Lottie :animation-data="loadingAnimation" auto-play loop height="auto" :width="300" />
      </div>
    </div>
  </Teleport>
</template>

<script setup>
import { Vue3Lottie } from 'vue3-lottie'
import loadingAnimation from '../../assets/animation/loading-animation.json'

defineProps({
  show: {
    type: Boolean,
    default: false
  }
})
</script>
