<template>
  <div class="fieldset-wrapper">
    <TheFieldset name="rt" label="RT" />
    <TheFieldset name="rw" label="RW" />
    <TheFieldset
      type="textarea"
      name="alamat"
      label="Alamat"
      rules="required|max:255"
      class="sm:col-span-2"
    />
  </div>
</template>

<script setup>
import TheFieldset from '../TheFieldset/TheFieldset.vue'
</script>
