<template>
  <div class="fieldset-wrapper">
    <TheFieldset name="nama" label="Nama" />
    <TheFieldset name="nik" type="number" label="NIK" rules="required|numeric" />

    <TheFieldset
      name="jenis-kelamin"
      type="select"
      label="Jenis Kelamin"
      :rules="`required|one_of:${genderList}`"
      :options="genderOptions"
    />

    <TheFieldset name="umur" type="number" label="Umur" rules="required|numeric|more_or_equal:25" />
  </div>
</template>

<script setup>
import TheFieldset from '../TheFieldset/TheFieldset.vue'

const genderOptions = [
  { name: 'Laki-laki', value: 'laki-laki' },
  { name: 'Perempuan', value: 'perempuan' }
]

const genderList = ['laki-laki', 'perempuan']
</script>
