<template>
  <div class="fieldset-wrapper">
    <TheFieldset
      type="number"
      name="no-kartu-keluarga"
      label="Nomor Kartu Keluarga"
      rules="required|numeric"
      class="sm:col-span-2"
    />

    <TheFieldset
      type="file"
      name="ktp"
      label="Foto KTP"
      rules="required|ext:jpg,jpeg,png,bmp|size:2048"
    />

    <TheFieldset
      type="file"
      name="kartu-keluarga"
      label="Foto Kartu Keluarga"
      rules="required|ext:jpg,jpeg,png,bmp|size:2048"
    />
  </div>
</template>

<script setup>
import TheFieldset from '../TheFieldset/TheFieldset.vue'
</script>
