<template>
  <div class="py-10">
    <h1 class="mb-8 text-2xl font-bold text-black">
      {{ formTitle[currentContent] }}
    </h1>

    <div class="flex flex-col gap-6">
      <FormContentPrivateInformation v-show="currentContent === 1" />
      <FormContentAddressFirst v-show="currentContent === 2" />
      <FormContentAddressSecond v-show="currentContent === 3" />
      <FormContentFamily v-show="currentContent === 4" />
      <FormContentIncome v-show="currentContent === 5" />
      <FormContentReason v-show="currentContent === 6" />
    </div>
  </div>
</template>

<script setup>
import FormContentPrivateInformation from './FormContentPrivateInformation.vue'
import FormContentAddressFirst from './FormContentAddressFirst.vue'
import FormContentAddressSecond from './FormContentAddressSecond.vue'
import FormContentFamily from './FormContentFamily.vue'
import FormContentIncome from './FormContentIncome.vue'
import FormContentReason from './FormContentReason.vue'

defineProps({
  currentContent: {
    type: Number,
    default: 1
  }
})

const formTitle = {
  1: 'Informasi Pribadi',
  2: 'Alamat',
  3: 'Alamat',
  4: 'Data Keluarga',
  5: 'Penghasilan',
  6: 'Alasan Membutuhkan bantuan'
}
</script>
