<template>
  <div class="fieldset-wrapper">
    <TheFieldset
      type="autocomplete"
      v-model:autocomplete="userProvince"
      name="provinsi"
      label="Provinsi"
      :options="store.provinceNames"
      :autocomplete-option-click="provinceOptionClick"
    />

    <TheFieldset
      type="autocomplete"
      v-model:autocomplete="userRegency"
      name="kabupaten-/-kota"
      label="Kabupaten / Kota"
      :options="store.regencyNames"
      :autocomplete-option-click="regencyOptionClick"
    />

    <TheFieldset
      type="autocomplete"
      v-model:autocomplete="userDistrict"
      name="kecamatan"
      label="Kecamatan"
      :options="store.districtNames"
      :autocomplete-option-click="districtOptionClick"
    />

    <TheFieldset
      type="autocomplete"
      v-model:autocomplete="userVillage"
      name="kelurahan-/-desa"
      label="Kelurahan / Desa"
      :options="store.villageNames"
      :autocomplete-option-click="villageOptionClick"
    />
  </div>
</template>

<script setup>
import { ref, watch, onBeforeMount } from 'vue'

import TheFieldset from '../TheFieldset/TheFieldset.vue'
import { useIndonesiaPlacesStore } from '../../../stores/indonesiaPlaces'

const store = useIndonesiaPlacesStore()

const userProvince = ref('')
const userRegency = ref('')
const userDistrict = ref('')
const userVillage = ref('')

function provinceOptionClick(newProvince) {
  store.setProvince(newProvince)
}

function regencyOptionClick(newRegency) {
  store.setRegency(newRegency)
}

function districtOptionClick(newDistrict) {
  store.setDistrict(newDistrict)
}

function villageOptionClick(newVillage) {
  store.setVillage(newVillage)
}

watch(userProvince, (newUserProvince) => store.setProvince(newUserProvince))
watch(userRegency, (newUserRegency) => store.setRegency(newUserRegency))
watch(userDistrict, (newUserDistrict) => store.setDistrict(newUserDistrict))
watch(userVillage, (newUserVillage) => store.setVillage(newUserVillage))

onBeforeMount(() => store.setProvincies())
</script>
