<template>
  <div class="fieldset-wrapper">
    <TheFieldset
      type="number"
      name="penghasilan-sebelum-pandemi"
      label="Penghasilan Sebelum Pandemi"
      rules="required|numeric"
      class="sm:col-span-2"
    />

    <TheFieldset
      type="number"
      name="penghasilan-setelah-pandemi"
      label="Penghasilan Setelah Pandemi"
      rules="required|numeric"
      class="sm:col-span-2"
    />
  </div>
</template>

<script setup>
import TheFieldset from '../TheFieldset/TheFieldset.vue'
</script>
