<template>
  <TheFieldset
    v-model:autocomplete="userReason"
    type="autocomplete"
    name="alasan-membutuhkan-bantuan"
    label="Alasan Membutuhkan Bantuan"
    rules="required"
    :options="reasonOption"
  />
</template>

<script setup>
import { ref } from 'vue'
import TheFieldset from '../TheFieldset/TheFieldset.vue'

const userReason = ref('')

const reasonOption = [
  'Kehilangan pekerjaan',
  'Kepala keluarga terdampak atau korban Covid-19',
  'Tergolong fakir/miskin semenjak sebelum Covid-19',
  'Lainnya'
]
</script>
