<template>
  <button
    class="rounded-full font-bold tracking-wide duration-200"
    :class="dynamicClass"
    @click="onClick"
    :disabled="disabled"
  >
    <slot />
  </button>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  type: {
    type: String,
    default: 'primary'
  },
  onClick: {
    type: Function,
    default: () => {}
  },
  size: {
    type: String,
    default: 'medium'
  },
  disabled: {
    type: Boolean,
    default: false
  },
  fullWidth: {
    type: Boolean,
    default: false
  }
})

const dynamicClass = computed(() => ({
  'bg-primary text-white': props.type === 'primary' && !props.disabled,
  'border border-primary text-primary': props.type === 'outline' && !props.disabled,
  'h-8 w-32 hover:shadow-md': props.size === 'small',
  'h-11 w-52 hover:shadow-xl': props.size === 'medium',
  'hover:-translate-y-0.5': !props.disabled,
  'bg-grey-2 text-black hover:!shadow-none': props.disabled,
  '!w-full': props.fullWidth
}))
</script>
