<template>
  <input type="checkbox" ref="checkbox" v-model="value" hidden />

  <div
    @click="checkbox.click()"
    :class="dynamicClass"
    class="z-50 rounded-md border border-primary"
  >
    <CheckIcon v-if="value" class="text-white" />
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { CheckIcon } from '@heroicons/vue/24/outline'

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false
  },
  size: {
    type: String,
    default: 'medium'
  }
})

const emit = defineEmits(['update:modelValue'])

const checkbox = ref(null)

const value = computed({
  set(value) {
    emit('update:modelValue', value)
  },
  get() {
    return props.modelValue
  }
})

const dynamicClass = computed(() => ({
  'bg-primary': value.value,
  'bg-white': !value.value,
  'h-5 w-5': props.size === 'small',
  'h-7 w-7': props.size === 'medium'
}))
</script>
