<template>
  <ul
    v-if="isVisible && options.length > 0"
    class="default-scrollbar absolute left-1/2 top-14 z-10 max-h-44 w-[90%] -translate-x-1/2 overflow-auto rounded-md bg-primary-tint-1"
    ref="dropdownWrapper"
  >
    <li
      v-for="(option, index) in options"
      :key="option.id"
      @click="handleOptionClick(option)"
      class="cursor-pointer px-2 py-1 first:rounded-tl-md last:rounded-bl-md hover:bg-grey-3 hover:text-white focus:bg-grey-3 focus:text-white focus:outline-none"
      :tabindex="index"
    >
      <p class="text-sm">{{ option }}</p>
    </li>
  </ul>
</template>

<script setup>
import { ref, watchEffect, watch } from 'vue'

const props = defineProps({
  isVisible: {
    type: Boolean,
    default: false
  },
  options: {
    type: Array,
    default: () => []
  }
})

const emit = defineEmits(['update:is-visible', 'option-click'])

const activeOptionIndex = ref(null)
const dropdownWrapper = ref(null)
const optionElementList = ref(null)

function handleOptionClick(option) {
  emit('option-click', option)
  emit('update:is-visible', false)
  activeOptionIndex.value = null
}

function calculateActiveOptionIndex(key) {
  if (activeOptionIndex.value === null) {
    activeOptionIndex.value = 0
    return
  }

  if (key === 'ArrowDown') {
    if (activeOptionIndex.value === props.options.length - 1) {
      activeOptionIndex.value = 0
      return
    }

    activeOptionIndex.value++
    return
  }

  if (activeOptionIndex.value === 0) {
    activeOptionIndex.value = props.options.length - 1
    return
  }

  activeOptionIndex.value--
  return
}

function keyDownCallback(event) {
  if (!(event.code === 'ArrowDown' || event.code === 'ArrowUp' || event.code === 'Enter'))
    return event.stopPropagation()

  event.preventDefault()

  if (event.code === 'Enter') {
    handleOptionClick(props.options[activeOptionIndex.value])
    activeOptionIndex.value = null
    return
  }

  calculateActiveOptionIndex(event.code)

  optionElementList.value[activeOptionIndex.value]?.focus()
}

watchEffect(() => {
  optionElementList.value = dropdownWrapper.value?.children
})

watchEffect(() => {
  if (props.isVisible) {
    document.addEventListener('keydown', keyDownCallback)
  }

  if (!props.isVisible) {
    document.removeEventListener('keydown', keyDownCallback)
  }
})

watch(
  () => props.options.length,
  () => (activeOptionIndex.value = null)
)
</script>
