<template>
  <nav>
    <ul class="flex justify-center gap-1 pb-4 pt-9 xs:gap-4">
      <li v-for="(num, index) in steps" :key="num" class="flex items-center gap-1 xs:gap-4">
        <span
          @click="setActiveStep(num)"
          class="flex h-11 w-11 cursor-pointer items-center justify-center rounded-full bg-grey-2 text-grey-3"
          :class="{ '!bg-primary !text-white': modelValue === num }"
        >
          {{ num }}
        </span>

        <span v-if="index < steps.length - 1" class="text-2xl font-medium">
          <EllipsisHorizontalIcon :class="{ 'text-primary': modelValue === num }" class="h-7 w-7" />
        </span>
      </li>
    </ul>
  </nav>
</template>

<script setup>
import { ref, onMounted, watchEffect, watch } from 'vue'
import { EllipsisHorizontalIcon } from '@heroicons/vue/24/outline'

const props = defineProps({
  stepAmount: {
    type: Number,
    default: 3
  },
  stepShow: {
    type: Number,
    default: 3
  },
  modelValue: {
    type: Number,
    default: 1
  }
})

const emit = defineEmits(['update:modelValue'])

const steps = ref([])
const stepChunks = ref([])
const currentStepChunk = ref(0)

function setActiveStep(step) {
  emit('update:modelValue', step)
}

function setStepToShow() {
  const allStep = Array.from({ length: props.stepAmount }, (_, i) => i + 1)

  stepChunks.value = allStep.reduce((accumulator, currentStep, index) => {
    const stepIndex = Math.floor(index / props.stepShow)

    if (!accumulator[stepIndex]) {
      accumulator[stepIndex] = []
    }

    accumulator[stepIndex].push(currentStep)

    return accumulator
  }, [])

  steps.value = stepChunks.value[currentStepChunk.value]
}

watch(
  () => props.modelValue,
  () => {
    steps.value = stepChunks.value.find((chunk) => chunk.includes(props.modelValue))
  }
)

watchEffect(() => setStepToShow())

onMounted(() => setStepToShow())
</script>
