<template>
  <form
    @submit.prevent
    class="mx-auto flex min-h-[calc(100vh-32px)] max-w-4xl flex-col gap-5 p-8 pb-16"
  >
    <div class="rounded-[34px] border border-primary px-6">
      <FormStep :step-amount="stepAmount" :step-show="stepShow" v-model="currentStep" />

      <hr class="mx-auto w-[95%] border-primary" />

      <FormContent :current-content="currentStep" />
    </div>

    <div class="flex gap-5">
      <TheButton v-if="currentStep > 1" type="outline" :on-click="previousStep"
        >Sebelumnya</TheButton
      >
      <TheButton :on-click="nextStep">{{ isLastStep ? 'Verifikasi' : 'Selanjutnya' }}</TheButton>
    </div>
  </form>

  <ModalWrapper :show="!!modal && !isLoading" :type="modalType">
    <ModalDetail v-if="isSendDataSuccessModal" :form-data="values" />

    <ModalNotification
      v-if="isDataNotValidModal || isSendDataFailedModal"
      :type="modalType"
      @close="closeModal"
    >
      {{ modalText }}
    </ModalNotification>

    <ModalUserValidity v-if="isUserValidityModal" @close="closeModal" @send="sendData" />
  </ModalWrapper>

  <TheLoading :show="isLoading" />
</template>

<script setup>
import { ref, computed, watch, onBeforeMount } from 'vue'
import { useForm } from 'vee-validate'
import { useMq } from 'vue3-mq'

import FormStep from '../components/TheForm/FormStep.vue'
import FormContent from '../components/TheForm/FormContent/FormContent.vue'
import TheButton from '../components/TheButton/TheButton.vue'
import ModalWrapper from '../components/TheModal/ModalWrapper.vue'
import ModalNotification from '../components/TheModal/ModalNotification.vue'
import ModalUserValidity from '../components/TheModal/ModalUserValidity.vue'
import ModalDetail from '../components/TheModal/ModalDetail.vue'
import TheLoading from '../components/TheLoading/TheLoading.vue'

import { useDummyServerResponse } from '../composables/useDummyServerResponse'

const { meta, values, validate, setTouched } = useForm()
const mq = useMq()

const stepAmount = 6

const stepShow = ref(3)
const currentStep = ref(1)
const modal = ref(null)
const isLoading = ref(false)

const isLastStep = computed(() => currentStep.value === stepAmount)
const isDataNotValidModal = computed(() => modal.value === 'data-not-valid')
const isUserValidityModal = computed(() => modal.value === 'user-data-validity')
const isSendDataSuccessModal = computed(() => modal.value === 'send-data-success')
const isSendDataFailedModal = computed(() => modal.value === 'send-data-failed')

const modalType = computed(() => {
  if (isUserValidityModal.value) return 'info'
  if (isSendDataSuccessModal.value) return 'success'

  return 'danger'
})

const modalText = computed(() => {
  if (isSendDataFailedModal.value)
    return 'Data gagal terkirim. Silahkan tunggu beberapa saat dan coba kembali'

  return 'Periksa kembali! Terdapat data yang belum terisi dengan benar'
})

function setFormStep(currentScreen) {
  if (currentScreen === 'xs') {
    stepShow.value = 3
    return
  }
  if (currentScreen === 'sm') {
    stepShow.value = 5
    return
  }

  stepShow.value = 6
}

async function checkData() {
  await validateAllData()

  if (!meta.value.valid) {
    modal.value = 'data-not-valid'
    return
  }

  modal.value = 'user-data-validity'
  return
}

async function validateAllData() {
  setTouched({
    nama: true,
    nik: true,
    'jenis-kelamin': true,
    umur: true,
    provinsi: true,
    'kabupaten-/-kota': true,
    kecamatan: true,
    'kelurahan-/-desa': true,
    rt: true,
    rw: true,
    alamat: true,
    'no-kartu-kelurga': true,
    ktp: true,
    'no-kartu-keluarga': true,
    'penghasilan-sebelum-pandemi': true,
    'penghasilan-setelah-pandemi': true,
    'alasan-membutuhkan-bantuan': true
  })

  await validate()
}

function nextStep() {
  if (isLastStep.value) return checkData()

  currentStep.value++
  window.scrollTo({ top: 0, behavior: 'smooth' })
}

function previousStep() {
  if (currentStep.value === 1) return

  currentStep.value--
  window.scrollTo({ top: 0, behavior: 'smooth' })
}

function closeModal() {
  modal.value = null
}

async function sendData() {
  try {
    isLoading.value = true
    const serverResponse = await useDummyServerResponse()

    if (serverResponse === 'Success') {
      modal.value = 'send-data-success'
      return
    }
  } catch (err) {
    console.error(err)
    modal.value = 'send-data-failed'
  } finally {
    isLoading.value = false
  }
}

watch(() => mq.current, setFormStep)

onBeforeMount(() => setFormStep(mq.current))
</script>
