<template>
  <main class="flex min-h-[calc(100vh-32px)] w-full flex-col items-center justify-center p-8 pb-20">
    <h2
      class="text-primary mb-8 px-16 text-center text-sm font-medium uppercase leading-[18px] tracking-[42%]"
    >
      Kementrian Sosial Republik Indonesia
    </h2>
    <h1 class="mb-14 text-center text-4xl font-bold leading-[43px]">
      Formulir Bantuan Sosial Covid-19
    </h1>
    <div class="mb-14">
      <Vue3Lottie :animation-data="landingPageAnimation" auto-play loop :height="88" :width="95" />
    </div>
    <TheButton :on-click="startForm"> Mulai </TheButton>
  </main>
</template>

<script setup>
import { Vue3Lottie } from 'vue3-lottie'
import { useRouter } from 'vue-router'

import TheButton from '../components/TheButton/TheButton.vue'
import landingPageAnimation from '../assets/animation/landing-page-animation.json'

const router = useRouter()

function startForm() {
  router.push('/form')
}
</script>
