<template>
  <div class="flex flex-col gap-2">
    <div
      @click="fileInputClick"
      :class="{
        '!border-primary': !!value && meta.valid,
        '!border-red': (!meta.valid && isFileInputClick) || !!errorMessage
      }"
      class="border-grey cursor-pointer overflow-hidden rounded-full border-2 border-dashed px-5 py-3 focus:outline-none"
    >
      <input
        ref="fileInput"
        type="file"
        accept=".jpg,.jpeg,.png,.bmp"
        @blur="handleBlurWithValidation"
        @change="handleChange"
        hidden
      />

      <p
        class="w-36 truncate text-center text-grey-3 xxs:w-48 xs:w-56 sm:w-52 md:w-64 lg:w-[340px]"
        :class="{
          '!text-primary': !!value && meta.valid,
          '!text-red': (!meta.valid && isFileInputClick) || !!errorMessage
        }"
      >
        {{ fileName }}
      </p>
    </div>

    <p class="ml-6 text-xs text-red">{{ errorMessage }}</p>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { useField } from 'vee-validate'

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  label: {
    type: String,
    default: 'Label'
  },
  rules: {
    type: String,
    default: 'required'
  }
})

const { value, errorMessage, meta, handleChange, validate } = useField(props.name, props.rules, {
  label: props.label
})

const fileInput = ref(null)
const isFileInputClick = ref(false)

const fileName = computed(() => (value.value ? value.value.name : 'Unggah berkas'))

function fileInputClick() {
  fileInput.value.click()
  isFileInputClick.value = true
  validate()
}
</script>
