<template>
  <div class="flex flex-col gap-2">
    <input
      v-model="value"
      :id="name"
      :type="type"
      :class="{ '!border-red': (!meta.valid && meta.touched) || !!errorMessage }"
      class="w-full rounded-full border border-primary px-5 py-3 focus:outline-none"
      @blur="blurWithValidation"
      @input="handleChange"
    />

    <p class="ml-6 text-xs text-red">{{ errorMessage }}</p>
  </div>
</template>

<script setup>
import { useField } from 'vee-validate'

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  label: {
    type: String,
    default: 'Label'
  },
  rules: {
    type: String,
    default: 'required'
  }
})

const { value, errorMessage, meta, handleBlur, handleChange, validate } = useField(
  props.name,
  props.rules,
  {
    label: props.label
  }
)

function blurWithValidation(event) {
  handleBlur(event)
  validate()
}
</script>
