<template>
  <div class="relative flex flex-col gap-2" ref="selectElement">
    <div
      @click="toggleVisibility"
      :class="{ '!border-red': !meta.valid && meta.touched }"
      class="h-[49.6px] cursor-pointer rounded-full border border-primary px-5 py-3 focus:outline-none"
    >
      <p>{{ selectedOption }}</p>
    </div>

    <FormDropdown
      v-model:is-visible="isVisible"
      :options="nameOptions"
      @option-click="optionClick"
    />

    <p class="ml-6 text-xs text-red">{{ errorMessage }}</p>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, onBeforeUnmount } from 'vue'
import { useField } from 'vee-validate'

import FormDropdown from '../FormDropdown.vue'

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  label: {
    type: String,
    default: 'Label'
  },
  rules: {
    type: String,
    default: 'required'
  },
  options: {
    type: Array,
    default: () => []
  }
})

const { setValue, errorMessage, meta, handleBlur, validate } = useField(props.name, props.rules, {
  label: props.label
})

const selectedOption = ref('')
const isVisible = ref(false)
const selectElement = ref(null)

const nameOptions = computed(() => props.options.map((option) => option.name))

function selectOption(optionName) {
  const { name, value } = props.options.find((option) => option.name === optionName)

  selectedOption.value = name
  setValue(value)
}

function select() {
  if (isVisible.value) {
    handleBlur()
    validate()
  }
}

function toggleVisibility() {
  select()
  isVisible.value = !isVisible.value
}

function optionClick(option) {
  selectOption(option)
  toggleVisibility()
}

function closeDropdown(e) {
  if (selectElement.value.contains(e.target)) return

  select()

  isVisible.value = false
}

onMounted(() => {
  document.addEventListener('click', closeDropdown)
})

onBeforeUnmount(() => {
  document.removeEventListener('click', closeDropdown)
})
</script>
