<template>
  <div class="relative flex flex-col gap-2" ref="autocompleteElement">
    <input
      v-model="computedValue"
      :id="name"
      :type="type"
      :class="{ '!border-red': !meta.valid && !isVisible && meta.touched }"
      class="w-full rounded-full border border-primary px-5 py-3 focus:outline-none"
      autocomplete="off"
      @blur="blurWithValidation"
      @input="handleChange"
      @focus="handleFocus"
    />

    <FormDropdown
      v-model:is-visible="isVisible"
      :options="filteredOptions"
      @option-click="optionClick"
    />

    <p v-if="!isVisible" class="ml-6 text-xs text-red">{{ errorMessage }}</p>
  </div>
</template>

<script setup>
import { computed, ref, onMounted, onBeforeUnmount } from 'vue'
import { useField } from 'vee-validate'

import FormDropdown from '../FormDropdown.vue'

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  label: {
    type: String,
    default: 'Label'
  },
  rules: {
    type: [String, Object, Function],
    default: 'required'
  },
  options: {
    type: Array,
    default: () => []
  },
  modelValue: {
    type: String,
    default: ''
  }
})

const emit = defineEmits(['update:modelValue', 'option-click'])

const { value, errorMessage, meta, handleBlur, handleChange, validate, setValue } = useField(
  props.name,
  props.rules,
  {
    label: props.label
  }
)

const isVisible = ref(false)
const autocompleteElement = ref(null)

const filteredOptions = computed(() => {
  if (!value.value) return props.options

  return props.options.filter((option) => {
    return option.toLowerCase().includes(value.value.toLowerCase())
  })
})

const computedValue = computed({
  get() {
    return value.value
  },
  set(newValue) {
    emit('update:modelValue', newValue)
    isVisible.value = true
    setValue(newValue)
  }
})

function handleFocus() {
  isVisible.value = true

  if (value.value === 'tuliskan alasan anda sendiri') {
    setValue('')
  }
}

function blurWithValidation(event) {
  handleBlur(event)
  validate()
}

function select() {
  if (isVisible.value) {
    handleBlur()
    validate()
  }
}

function optionClick(option) {
  emit('option-click', option)

  if (option.toLowerCase() === 'lainnya') {
    setValue('tuliskan alasan anda sendiri')
  } else {
    setValue(option)
  }
}

function closeDropdown(event) {
  if (autocompleteElement.value.contains(event.target)) return

  select()

  isVisible.value = false
}

onMounted(() => {
  document.addEventListener('click', closeDropdown)
})

onBeforeUnmount(() => {
  document.removeEventListener('click', closeDropdown)
})
</script>
