<template>
  <fieldset class="flex flex-col gap-3">
    <label :for="name" class="w-fit text-lg font-medium">{{ label }}</label>

    <FieldsetInput v-if="isGeneralInputType" v-bind="fieldsetInputProps" />

    <FieldsetSelect v-if="isSelectType" v-bind="fieldsetSelectProps" />

    <FieldsetAutocomplete
      v-if="isAutocompleteType"
      v-bind="props"
      v-model="autocompleteModel"
      @option-click="autocompleteOptionClick"
    />

    <FieldsetTextArea v-if="isTextAreaType" v-bind="fieldsetInputProps" />

    <FieldsetFile v-if="isFileType" v-bind="fieldsetInputProps" />
  </fieldset>
</template>

<script setup>
import { computed } from 'vue'

import FieldsetInput from './FieldsetInput.vue'
import FieldsetSelect from './FieldsetSelect.vue'
import FieldsetAutocomplete from './FieldsetAutocomplete.vue'
import FieldsetTextArea from './FieldsetTextArea.vue'
import FieldsetFile from './FieldsetFile.vue'

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  label: {
    type: String,
    default: 'Label'
  },
  rules: {
    type: [String, Object, Function],
    default: 'required'
  },
  options: {
    type: Array,
    default: () => []
  },
  autocomplete: {
    type: String,
    default: ''
  },
  autocompleteOptionClick: {
    type: Function,
    default: () => {}
  }
})

const emit = defineEmits(['update:autocomplete'])

const isGeneralInputType = computed(
  () =>
    props.type !== 'select' &&
    props.type !== 'autocomplete' &&
    props.type !== 'textarea' &&
    props.type !== 'file'
)

const isSelectType = computed(() => props.type === 'select')

const isAutocompleteType = computed(() => props.type === 'autocomplete')

const isTextAreaType = computed(() => props.type === 'textarea')

const isFileType = computed(() => props.type === 'file')

const fieldsetInputProps = computed(() => ({
  ...props,
  options: undefined,
  autocomplete: undefined,
  autocompleteOptionClick: undefined
}))

const fieldsetSelectProps = computed(() => ({
  ...props,
  autocomplete: undefined,
  autocompleteOptionClick: undefined
}))

const autocompleteModel = computed({
  set(value) {
    emit('update:autocomplete', value)
  },
  get() {
    return props.modelValue
  }
})
</script>
