@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fieldset-wrapper {
    @apply flex flex-col gap-4 sm:grid sm:grid-cols-2;
  }
}

@layer utilities {
  .default-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-500 scrollbar-thumb-rounded-md;
  }

  .center-element {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
